
.list {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*grid-template-rows: 100%;*/
    grid-gap: 10px;
}

@media screen and (max-width: 992px) {
    .list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 576px) {
    .list {
        grid-template-columns: 1fr;
    }
}